@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: #d2ebff;
    height: 100vh;
    font-family: 'Protest Riot', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
    align-items: center;
    background-color: #88cafc;
}

.logo {
    color: black;
    font-size: 22px;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    color: black;
    padding: 8px 30px;
    border-radius: 7px;
    transition: all .3s ease;
}

ul li a:hover,
ul li a.active {
    color: black;
    background-color: #edcc6f;
}

#icon {
    background-color: #edcc6f;
    padding: 5px 7px 3px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

#icon svg {
    color: white;
    height: 28px;
}

#icon:hover {
    background-color: #edcc6f;
}

#icon:hover svg {
    color: black;
}

#checkbox,
#icon {
    display: none;
}

@media screen and (max-width: 1222px) {
    nav {
        border-bottom: 1px solid #edcc6f;
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 71px);
        background-color: #404066;
        left: 0;
        top: 0;
        text-align: center;
        display: none;
        margin-top: 71px;
    }

    ul li {
        display: block;
        padding: 10px 15px;
    }
    ul li a {
        display: block;
        padding: 10px 0;
    }

    #icon {
        display: block;
    }
    #checkbox:checked~ul {
        display: block;
    }
}